<div class="login_container">
    <form class="login_form" method="post">
        <h2>Login</h2>
        <div class="input_group">
            <input type="text" name="username" required autocomplete="on" placeholder="Username"/>
        </div>
        <div class="input_group">
            <input type="password" name="password" required placeholder="Password"/>
        </div>
        <button type="submit">Sign in</button>
    </form>
</div>